/* Add your own CSS code below */
.heart {
  color: #c85308;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.main-article {
  max-width: 50em;
}
.main-article p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

@media screen and (min-width: 992px) {
  .hero__title {
    font-size: 2.8em;
  }
}

@media screen and (min-width: 767px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .views {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .views a {
    margin-left: 10px;
  }
  .views a:last-child {
    margin-left: auto;
  }
}
